<!DOCTYPE html>
<html lang="en">
<head>
	<title> flask websocket</title>
</head>
<body>
	<div class="div">
    <img id="image1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
     var socket = io.connect('http://' + document.domain + ':' + location.port);

     socket.on('connect' ,function()
     {
     	socket.emit('check' ,{data: 'User Connected'})
     });
     socket.on('image', function(msg)
     {  
        //console.log(image)
        const image_element=document.getElementById('image1');
        image_element.src="data:image/jpeg;base64,"+msg;
     });
 </script>
</body>
</html>
